<!DOCTYPE html>
<!--[if lte IE 7]> <html class="no-js oldie ie7" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" ng-app="CardinalityApp">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta title="Cardinality, a game built with love for the Facebook Platform using Parse" />
    <meta lang="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Cardinality, a game built with love for the Facebook Platform using Parse</title>

    <!--<meta name="description" content="An open source Twitter clone built with Firebase">-->
    <!-- <link href="img/favicon.png" rel="shortcut icon" />
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="css/global.css" rel="stylesheet" />-->

    <link href="Content/normalize.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/styles.css" rel="stylesheet" />
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
    <script src="Scripts/lib/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <div ng-controller="AuthController" ng-cloak>
        <div class="row loginContainer">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p ng-show="user">Welcome back, {{user.displayName}}</p>
                <button class="btn btn-primary" ng-click="login()" ng-hide="user">
                    <b>Sign in with Facebook</b>
                </button>
                <button class="btn btn-primary" ng-click="logout()" ng-show="user">
                    <b>Sign Out</b>
                </button>
            </div>
        </div>

        <div ng-controller="GameSetupController">
            <div class="row" ng-hide="playing">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="playerSelectGrid">
                        <div>
                            <div class="playerSelectPanel">
                                
                            </div>
                            <div class="playerSelectPanel"></div>
                        </div>
                        <div>
                            <div class="playerSelectPanel"></div>
                            <div class="playerSelectPanel"></div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

                    Grid Size:
                    <select class="form-control"
                            ng-model="selectedGridSize" ng-options="gridSize.size as gridSize.description for gridSize in gridSizes"></select>

                    <hr />
                    <button type="button" class="btn btn-success"
                            ng-click="initializeGame('Cardinality', selectedGridSize, selectedGridSize)">
                        Begin Game
                    </button>
                </div>
            </div>

            <!--<div ng-controller="CardinalityController" ng-show="user" ng-cloak>
                <div class="btn-group">
                        <button type="button" ng-repeat="difficulty in difficulties"
                                ng-click="changeDifficulty($index)"
                                class="btn btn-primary" ng-class="{active: $index==selectedDifficulty}">
                            {{difficulty}}
                        </button>
                    </div>
            </div>-->
            <!--<div ng-show="playing">
                <div class="row scoreContainer">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div id="grid">
                            <div ng-repeat="row in grid" class="grid-row">
                                <div ng-repeat="cell in row" class="cell {{'row-' + $parent.$index}} {{'column-' + $index}}" data-row="{{$parent.$index}}" data-column="{{$index}}">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                        <div>Your Score:</div>
                        <div class="score" ng-class="{active: currentPlayer==1}">
                            <div>{{player1Score}}</div>
                        </div>

                        <br />

                        <button ng-click="restartGame()">Restart Game...</button>
                        <div>{{'Turn #: ' + currentTurn}}</div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                        <div>Computer's Score:</div>
                        <div class="score" ng-class="{active: currentPlayer==2}">{{player2Score}}</div>
                    </div>
                </div>
            </div>-->

        </div> <!-- Game Controller -->

    </div> <!-- Auth Controller -->

    <script data-main="Scripts/app/CardinalityApp" src="Scripts/lib/require.js"></script>
</body>
</html>
